.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}
.product-preview-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--white);
}
.product-preview-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-tag {
  font-family: var(--paragraph-font);
  font-size: var(--font-size-paragraph);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}
.product-heading {
  font-family: var(--heading-font);
  margin-top: 14px;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 700;
}
.product-description {
  font-family: var(--paragraph-font);
  font-size: var(--font-size-paragraph);
  color: var(--dark-grayish-blue);
  font-weight: 500;
  margin: 0;
  text-align: left;
  margin-bottom: 16px;
}
.add-to-cart {
  color: var(--white);
  background-color: var(--dark-cyan);
  height: 48px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: var(--paragraph-font);
}
.add-to-cart:active{
  background-color: var(--very-dark-cyan);
}
.button-logo {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.product-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-price {
  font-size: 32px;
  color: var(--dark-cyan);
  font-family: var(--heading-font);
  font-weight: 700;
  margin-right: 18px;
}
.old-product-price {
  font-family: var(--paragraph-font);
  font-size: var(--font-size-paragraph);
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-weight: 500;
}
/* Media query for mobile */
@media (max-width: 767px) {
  .banner-image {
    /* Mobile styles */
    content: url("./assets/images/image-product-mobile.jpg");
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

/* Media query for desktop */
@media (min-width: 768px) {
  .product-preview-container {
    flex-direction: row;
    max-width: 500px;
  }
  .banner-image {
    /* Desktop styles */
    content: url("./assets/images/image-product-desktop.jpg");
    width: 250px;
    object-fit: cover;
    height: auto;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .product-heading {
    line-height: 1;
  }
  .product-preview-content {
    max-width: 250px;
  }
}
